@using Music.Data.DataModels;
@using Music.Services.ViewModels;
@model SongViewModel

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Song</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Title"></label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="AlbumName">Album Title</label>
			<input asp-for="AlbumName" class="form-control" />
			<span asp-validation-for="AlbumName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Length"></label>
			<input asp-for="Length" class="form-control" />
			<span asp-validation-for="Length" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Explicit"></label>
			<input asp-for="Explicit" class="form-control" />
			<span asp-validation-for="Explicit" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="ArtistName">Artist (Stage Name)</label>
			<input asp-for="ArtistName" class="form-control" />
			<span asp-validation-for="ArtistName" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Song" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back To List
		</a>	
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}


}