@{
    ViewData["Title"] = "Home Page";
}

<section id="center">
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="center clearfix">
                <h1 class="text-primary">MUSIC WIKI </h1> <h2> <span>YORDAN STOYCHEV</span><br> 2209011828 </h2>
                <h4 class="text-primary">Songs, artists and albums</h4>
                <p> Welcome to our music wiki site, <br /> the ultimate resource for all things related to music! <br /> Whether you're a casual listener, an aspiring musician, or a die-hard <br /> music enthusiast, this is the place to delve into the captivating world of melodies, rhythms, and harmonies.</p>
            </div>
        </div>
    </div>
</section>
